build:release --workspace_status_command=hack/get-releases-versions.sh
build:release --stamp
build --incompatible_strict_action_env=true
build --action_env=PATH
build --define=registry=localhost:5000
test --test_output=errors
build --enable_bzlmod
query --enable_bzlmod
try-import user.bazelrc
test --test_tag_filters=-libpact_ffi_missing
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1