---
name: Renovate Auto-merge
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - labeled

jobs:
  enable-automerge:
    if: github.actor == 'renovate[bot]' && contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-20.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Enable auto-merge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
