---
name: Renovate PR Checks
on:
  pull_request:
    branches:
      - main
concurrency:
  group: renovate-pr-${{ github.event.pull_request.number }}
  cancel-in-progress: false

jobs:
  bazel-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    container:
      image: gcr.io/bazel-public/bazel:7.7.1
      options: -e USER="root" -u="root"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup git config
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Fetch bazel cache
        uses: actions/cache@v4
        with:
          path: /tmp/cache
          key: bazel-cache
          restore-keys: |
            bazel-cache
      - name: Bazel test
        run: bazel --output_user_root=/tmp/cache test --test_output=errors //...
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
  enable-automerge:
    needs: bazel-tests
    if: github.actor == 'renovate[bot]' && contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Enable auto-merge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ github.event.pull_request.number }}
          merge-method: squash
